.About-container
  display flex
  align-items center

  .About-avatar
    padding 0 3rem
    img
      border-radius: 50%;
      height: 120px;
      width: auto;

  .About-info
    .Info-line
      display inline-block
      margin-right 2rem
      margin-bottom 0